{% extends 'base.html.twig' %}

{% block title %}Список клиентов{% endblock %}

{% block body %}

    <table class="table table-hover">
        <thead>
        <th>first name</th>
        <th>last name</th>
        <th>phone</th>
        </thead>
        {% for client in clients %}
            <tr>
                <td>{{ client.firstName }}</td>
                <td>{{ client.lastName }}</td>
                <td>{{ client.phone }}</td>
            </tr>
        {% endfor %}
    </table>




{% endblock %}